@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import "tailwindcss";

@layer base {
  :root {
    --default-font-family: "Figtree", "sans-serif";
    --bunker: #171717;
    --primary: #3b1f55;
    --primarytext: #212121;
    --lightprimary: #6a4a8a;
    --darkprimary: #2a153d;
    --secondary: #c7328f;
    --darksecondary: #a52876;
    --secondarytext: #757575;
    --disabled: #d0d0d0;
    --accent: #e83a9c;
    --woodsmoke: #101010;
    --btn-size: 50px;
    --btn-min-width: var(--btn-size);
  }
}

@layer components {
  .btn {
    @apply text-white p-2 flex justify-center items-center rounded-2xl text-center;
    background: var(--primarytext);
    height: var(--btn-size);
    line-height: var(--btn-size);
    min-width: var(--btn-min-width);
  }

  .input-control {
    label {
      @apply block text-white mb-2 ms-2;
    }

    > input {
      @apply text-white py-4 px-3.5 flex justify-center items-center rounded-2xl border-2 border-(--primarytext) w-full;
      background: var(--bunker);
      height: var(--btn-size);
      line-height: var(--btn-size);

      &:focus {
        @apply outline-none border-2 border-(--darksecondary);
      }
    }
  }

  .title-primary {
    @apply block text-4xl mb-5;
  }

  .icon {
    @apply text-white p-2 flex justify-center items-center rounded-2xl text-center;
    height: var(--btn-size);
    width: var(--btn-size);
  }
}

body {
  background: var(--woodsmoke);
  color: #FFFFFF;
}
