@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import "tailwindcss";

@layer base {
  :root {
    --default-font-family: "Figtree", "sans-serif";
    --bunker: #171717;
    --primary: #3b1f55;
    --primarytext: #212121;
    --lightprimary: #6a4a8a;
    --darkprimary: #2a153d;
    --secondary: #c7328f;
    --darksecondary: #a52876;
    --secondarytext: #757575;
    --disabled: #d0d0d0;
    --accent: #e83a9c;
    --woodsmoke: #101010;
    --btn-height: 40px;
    --btn-min-width: 40px;
  }
}

@layer components {
  .btn {
    @apply text-white p-2 flex justify-center items-center rounded-md text-center;
    background: var(--primarytext);
    height: var(--btn-height);
    line-height: var(--btn-height);
    min-width: var(--btn-min-width);

    > * {
      display: block;
    }
  }
}

body {
  background: var(--woodsmoke);
  color: #FFFFFF;
}
